body {
  margin: 0;
  /* to see that the navbar is sticky */
  height: 200vh;
  background: rgb(40, 40, 40);
}

/* .logo-container {
  font: bold 22px sans-serif;
} */

.source-code {
  height: 54px;
  padding-left: 10px;
}

.menu-item a {
  color: black;
  text-decoration: none;
  font: bold 22px sans-serif;
  transition: 0.5s ease;
}

.menu-item a:hover {
  color: rgb(1, 123, 123);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.5s ease;
  font: bold 30px sans-serif;
}

.navbar {
  /* make it stick */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* in front of all other elements */
  z-index: 99;
  /* set background */
  background-color: white;
  padding: 7px;

  /* define flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu-item {
  display: inline-block;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 5px;
}

.bar {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px auto;
}
.menu-icon {
  display: none;
}
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 0 5%;
  }

  .logo-container {
    width: 100%;
  }

  .nav-menu {
    width: 100%;
  }

  .menu-item {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: end;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 5%;
  }

  .menu-icon:hover .bar {
    background-color: darkcyan;
  }

  .nav-menu {
    display: none;
    width: 100%;
  }

  .active {
    display: block;
  }
}
